/* MIXINS */

@mixin Title-Font {
	font-family: "Baskerville Old Face", Candara, Calibri;
	letter-spacing: -1px;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}