/* global variables */
$font-stack: "Kannada Sangam MN", "Andale Mono", Arial, Calibri;
$primary-color: rgb(211, 201, 179);
$secondary-color: white;
$tertiary-color: #626262;
$form-color: #e3e3e3;
$active-color: blue;
$standard-font: 1.2rem;
$large-font: 1.6rem;